.main{
    min-height: 100vh;
    display: grid;
    padding: 4rem 2rem;
    grid-template-columns: 20% 80%;
}
.dashboard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.heading,.heading_mob{
    font-weight: 700;
    font-size: 3.5rem;
}

.subheading,.subheading_mob{
    font-weight: 500;
    font-size: 2.5rem;
    color: rgba(255,255,255,0.5);
}
.heading_mob,.subheading_mob{
    display: none;
}



@media screen and (max-width:1100px) {
    .main{
        padding: 2rem 1rem;
    grid-template-columns: 30% 70%;
    }
}
@media screen and (max-width:900px) {
    .main{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .heading,.subheading{
        display: none;
    }
    .heading_mob,.subheading_mob{
        display: block;
    }
    
}
@media screen and (max-width:600px) {
    .main{
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
    }
    .product_row{
        padding: 2rem;
    }
}